{% extends 'main.html' %}
{% block content %}
<h2>Tus Propuestas Eventos Formativos</h2>

<a href="{% url 'inicio' %}"> Inicio </a>

<h5>{{propuesta_count}} propuestas</h5>
<a href="{% url 'createPropuesta' responsable.id %}">Nueva Propuesta</a>
<hr>

{% for evento in eventosformativos %}
<div>
    {{evento.id}} -- <a href="{% url 'Propuesta' evento.id %}">{{evento.nombre}}</a>
    <br>
    <a href="{% url 'updatePropuesta' evento.id %}">Editar</a>
    <a href="{% url 'deletePropuesta' evento.id %}">Borrar</a>
    <hr>
</div>
{% endfor %}


{% endblock %}
