<a href="{% url 'login' %}">
    <h1>LOGO</h1> 
</a>

{% block content %}
{% if page == 'login' %}
<div>
    <form method='POST' action=''>
        {% csrf_token %}

        <label>Nombre de usuario:</label>
        <input type='text' name='username' placeholder='Usuario' />
        <label>Contraseña:</label>
        <input type='password' name='password' placeholder='Password' />
        
        <input type='submit' value='Login' />
    </form>

    <p>Ocupas registarte?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}

<div>
    <form method='POST' action=''>
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='Registrarse' />
    </form>
    <p>Ya estas registrado?</p>
    <a href="{% url 'login' %}">Sign up</a>
</div>
{% endif %}
{% endblock content %}